# Copiar este ficheiro para .env e preencher com as credenciais locais
# NUNCA commitar o ficheiro .env

DB_URL=jdbc:mariadb://localhost:3306/lojasd_db
DB_USERNAME=lojasd_user
DB_PASSWORD=password


SPRING_USERNAME=user
SPRING_PASSWORD=password